@model IEnumerable<SistemaWebMisRecetas.Models.Receta>

@{
    ViewData["Title"] = "DetailsByApellido";
}

<h1>Recetas por Apellido</h1>
<div class="container">
    @Html.ActionLink("Volver a Index", "Index", "Recetas")
</div>

<table class="filtro-apellido">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Titulo)</th>
            <th>@Html.DisplayNameFor(model => model.Categoria)</th>
            <th>@Html.DisplayNameFor(model => model.Ingredientes)</th>
            <th>@Html.DisplayNameFor(model => model.Instrucciones)</th>
            <th>Operaciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Ingredientes)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Instrucciones)
                </td>
                <td>
                    @Html.ActionLink("Ver", "Details", "Recetas", new {id = item.Id})
            </tr>
        }
    </tbody>
</table>

@section SideBarOpcional{

    <ul>
        <li>
            @Html.ActionLink("Nueva receta", "Create", "Recetas")
        </li>
        <li>
            @Html.ActionLink("Recetas", "Index", "Recetas")
        </li>
    </ul>
    }

